# Rust build output
/target/

# Kyte compiler artifacts
*.o
*.ll
*.exe
*.pdb
crash.log
output.ll

# Local playground project
/test/src/
/test/test.exe
/test/wind.toml

# VS Code extension dependencies
/editors/vscode/node_modules/